<script setup lang="ts">
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExamople from "./components/HelloWorldExamople.vue";
import HandingUserInput from "./components/HandingUserInput.vue";
import AttributeBridinds from "./components/AttributeBridinds.vue";
import ConditionsAndLoops from "./components/ConditionsAndLoops.vue";
import FromBindings from "./components/FromBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <SimpleComponent />
  <br />
  <FromBindings />
  <br />
  <br />
  <ConditionsAndLoops />
  <br />
  <br />
  <AttributeBridinds />
  <HandingUserInput />
  <CalComponent />
  <HelloWorldExamople />
</template>

<style scoped></style>
